<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/logged_in_home_staff :: head}"></head>
<body>
<nav th:replace="/admin/logged_in_home_staff :: navbar"></nav>

<div>
    <caption><h1 class="forumTableTitle">Appointments</h1></caption>
<!--    <form th:action="@{/admin/change_vaccine}" th:object="${app}"-->
<!--          method="post" style="max-width: 600px; margin: 0 auto;">-->
<!--        <div>-->
<!--            &lt;!&ndash;   ID of Question   &ndash;&gt;-->
<!--            <div class="form-group row">-->
<!--                <label class="col-4 col-form-label">Question ID </label>-->
<!--                <div class="col-8">-->
<!--                    <input type="text" th:field="*{id}" class="form-control" required />-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash;   Answer Field   &ndash;&gt;-->
<!--            <div class="form-group row">-->
<!--                <label class="col-lg-12 col-form-label">Answer Question: </label>-->
<!--                <div class="col-lg">-->
<!--                    <textarea type="text" th:field="*{vaccineType}" class="form-control" required/>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div>-->
<!--                <button type="submit" class="btn btn-primary">Post</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
    <table class="forumTable">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Vaccine Type</th>
        </tr>
        </thead>
        <tbody th:each="app: ${listappoints}">
        <tr>
            <td th:text="${app.id}"></td>
            <td th:text="${app.appointmentDate}"></td>
            <td th:text="${app.appointmentTime}"></td>
            <td th:text="${app.location}"></td>
            <td th:text="${app.vaccineType}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
</div>

</body>
</html>