<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar" >
    <!-- LOGO -->
    <div class="logo">InsecureSWE</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/admin/">Home</a></li>
            <li><a href="/admin/forum">Forum</a></li>
            <li><a href="/admin/list">Users</a></li>
            <li><a href="/admin/statistics">Statistics</a></li>
            <li><a href="/admin/register">Signup</a></li>
            <li><a href="/admin/login">Logout</a></li>
        </div>
    </ul>
</nav>

<div class="mainbody">

    <div class="login-container">
        <form class="login-form" method="POST" th:action="@{/login}">

            <div th:if="${param.error}">
                <div class="alert alert-info">Invalid username or password</div>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out</div>
            </div>

            <table>
                <th>Log In</th>
                <tr>
                    <td>Username</td>
                </tr>
                <tr>
                    <td><input name="username" type="text" placeholder="Enter username" required></td>
                </tr>
                <tr>
                    <td>Password</td>
                </tr>
                <tr>
                    <td><input name="password" type="password" placeholder="Enter password" required></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Sign In</button>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p class="message">Not Registered? <a th:href="@{/registration}">Create Account</a></p>
                    </td>
                </tr>
            </table>
        </form>

        <form method="POST" th:action="@{/logout}">
            <button type="submit">Logout</button>
        </form>


    </div>

    <hr/>
</div>
</body>
</html>