<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/vaccinee/logged_in_home :: head}">
</head>
<body>
    <nav th:replace="/vaccinee/logged_in_home :: navbar"> </nav>
    <div class="container text-center">
        <div>
            <h1>Book Appointment</h1>
        </div>
        <form th:action="@{/vaccinee/set_appointment}" th:object="${appointment}" method="post"
              style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">

                <div class="form-group row">
                    <label for="location" class="col-4 col-form-label">Selected Centre:</label>
                    <div class="col-8">
                        <input type="text" id="location" th:field="*{location}" th:value="${appointment.location}" th:text="${appointment.location}" readonly hidden>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="appdate" class="col-4 col-form-label">Selected Date:</label>
                    <div class="col-8">
                        <input type="text" id="appdate" th:field="*{appointmentDate}" th:value="${appointment.appointmentDate}" th:text="${appointment.appointmentDate}" readonly hidden>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="apptime" class="col-4 col-form-label">Choose a Time:</label>
                    <div class="col-8">
                        <select th:field="*{appointmentTime}" id="apptime">
                            <option th:each="time : ${timesAvailable}" th:value="${time}" th:text="${time}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="vaccineType" class="col-4 col-form-label">Choose a vaccination type:</label>
                    <div class="col-8">
                        <select name="vaccineType" id="vaccineType" th:field="*{vaccineType}" required>
                            <option value="Pfizer-BioNTech">Pfizer-BioNTech</option>
                            <option value="Moderna">Moderna</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Check for Availability</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>