<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/vaccinee/logged_in_home :: head}">
</head>
<body>
    <nav th:replace="/vaccinee/logged_in_home :: navbar"> </nav>
    <div class="container text-center">
        <div>
            <h1>Appointment Confirmed.</h1>
            <h4 class="forumTableTitle">Details:</h4>
            <table class="forumTable" id="appTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Vaccine Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${appointment}">
                    <td th:text="${appointment.appointmentDate}"></td>
                    <td th:text="${appointment.appointmentTime}"></td>
                    <td th:text="${appointment.location}"></td>
                    <td th:text="${appointment.vaccineType}"></td>
                </tr>
                </tbody>
            </table>

            <br>
            <br>
            <a href="/vaccinee/logged_in_home" class="return">Return Home</a>
        </div>
    </div>
</body>
</html>