<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home_page :: head}">
</head>
<body>
<nav th:replace="home_page :: navbar"> </nav>
<form th:action="@{/vaccinee/check_availability}" th:object="${appointment}" method="post">

    <div class="form-group row">
        <label for="location" class="col-4 col-form-label">Choose a vaccination centre:</label>
        <div class="col-8">
            <select name="location" id="location" th:field="*{location}" required>
                <option value="UCD">UCD centre</option>
                <option value="DCU">DCU centre</option>
                <option value="CityWest">Citywest centre</option>
                <option value="Ongar">Ongar community centre</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="appdate" class="col-4 col-form-label">Choose a Date:</label>
        <div class="col-8">
            <input type="date" id="appdate" name="appdate" th:field="*{appointmentDate}" th:min="${minDate}" th:max="${maxDate}" required> <!--min="${now}" th:attr="min=#{now}"-->
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Check for Availability</button>
    </div>
</form>

</body>
</html>