<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/vaccinee/logged_in_home :: head}"></head>
<body>
<nav th:replace="/vaccinee/logged_in_home :: navbar"> </nav>

    <div class="container text-center">
        <div>
            <h1>User History</h1>
        </div>
        <div align="center">
            <table border="1" cellpadding="5">
                <tr>
                    <th>Date</th>
                    <th>Appointment Info</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>