<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home_page :: head}"></head>
<body>
<nav th:fragment="navbar" class="navbar" >
    <!-- LOGO -->
    <div class="logo">InsecureSWE</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/">Forum</a></li>
            <li><a href="/book">Bookings</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/register">Signup</a></li>
            <li><a href="/login">Logout</a></li>
        </div>
    </ul>
</nav>

    <div class="container text-center">
        <div>
            <h1>User History</h1>
        </div>
        <div align="center">
            <table border="1" cellpadding="5">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
                <tr th:each="post: ${listAppointments}">
                    <td th:text="post: ${post.date}"></td>
                    <td th:text="post: ${post.time}"></td>
                    <td th:text="post: ${post.location}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>