<!DOCTYPE html>
<html lang="en">
<head th:replace="~{home_page :: head}"></head>
<body>
    <nav th:replace="home_page :: navbar"> </nav>

    <center>
        <h1>TEST HEADING</h1>
    </center>
    <div align="center">
        <table border="1" cellpadding="5">
            <caption><h2>TEST CAPTION</h2></caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>SureName</th>
                <th>Nationality</th>
                <th>DOB</th>
<!--                <th>PPS Number</th>-->
                <th>Address</th>
<!--                <th>Phone</th>-->
                <th>Email</th>
                <th>UserName</th>
            </tr>
            <tr th:each = "user: ${listUsers}">
                <td th:text="${user.id}" /></td>
                <td th:text="${user.name}" /></td>
                <td th:text="${user.surname}" /></td>
                <td th:text="${user.nationality}" /></td>
                <td th:text="${user.dob}" /></td>
<!--                <td th:text="${user.pps_number}" /></td>-->
                <td th:text="${user.address}" /></td>
<!--                <td th:text="${user.phone_number}" /></td>-->
                <td th:text="${user.email}" /></td>
                <td th:text="${user.username}" /></td>
            </tr>
        </table>
    </div>
</body>
</html>