<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>HOME_PAGE</title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar" >
        <!-- LOGO -->
        <div class="logo">InsecureSWE</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">Forum</a></li>
                <li><a href="/">Signup/Login</a></li>
            </div>
        </ul>
    </nav>
</body>
</html>