<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home_page :: head}"></head>
<body>
<nav th:replace="home_page :: navbar"> </nav>

<div class="container text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <div class="text-center">
        <h4>
            <span th:unless="${errorMessage== null}" th:text="${errorMessage}"></span>
        </h4>
    </div>
    <form th:action="@{/process_register}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <!--   UserName   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">User Name </label>
                <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control" required
                           pattern="^[A-Za-z][A-Za-z0-9_]{2,30}$"/>
                </div>
            </div>

            <!--   Password   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input title="Password 8-30 characters long &#013Must contain at least one of each: Uppercase, Lowercase, Number, and Symbol"
                           value="44" type="password" th:field="*{password}" class="form-control" required
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[./!@#$%^&*_=+-]).{8,30}$"/>
                </div>
            </div>

            <!--   Name   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control" required pattern="^[A-Za-z]{2,30}$"/>
                </div>
            </div>

            <!--   SurName   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Sur Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{surname}" class="form-control" required pattern="^[A-Za-z]{2,30}$"/>
                </div>
            </div>

            <!--   DOB   need to make type for dates-->
            <div class="form-group row">
                <label class="col-4 col-form-label">Date Of Birth: </label>
                <div class="col-8">
                    <input type="date" th:field="*{dob}" class="form-control" required/>
                </div>
            </div>


            <!--   PPS Number   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">PPS Number: </label>
                <div class="col-8">
                    <input title="PPSN is 7 digits followed by 1 or 2 uppercase characters" type="text"
                           th:field="*{ppsNumber}" class="form-control" required pattern="^(\d{7})([A-Z]{1,2})$"/>
                </div>
            </div>

            <!--   Address   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Address: </label>
                <div class="col-8">
                    <input type="text" th:field="*{address}" class="form-control" required maxlength="50" />
                </div>
            </div>

            <!--   Phone Number  -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Phone Number: </label>
                <div class="col-8">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" required
                           pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{1,3})?[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"/>
                </div>
            </div>

            <!--   Email   -->
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required maxlength="40"
                           pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$"/>
                </div>
            </div>

            <!--   Nationality -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Nationality: </label>
                <div class="col-8">
                    <select th:field="*{nationality}" class="form-control" required >
                        <option value="American">American</option>
                        <option value="Belgian">Belgian</option>
                        <option value="Danish">Danish</option>
                        <option value="English">English</option>
                        <option value="German">German</option>
                        <option value="Irish">Irish</option>
                        <option value="Italian">Italian</option>
                        <option value="Polish">Polish</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Romanian">Romanian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>